{% extends 'base.html.twig' %}

{% block content %}
<article class="phpdocumentor-element">
    <h2 class="phpdocumentor-content__title">Action and Filter Hook Reference</h2>
    <p>List of all the actions and filters found in this plugin</p>
    <!-- hooks -->
</article>
{% endblock %}