<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <svg width="136px" height="34px" viewBox="0 0 136 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com -->
            <title>eeco_logo_svg</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="0.104557576 0.123647482 33.4989091 0.123647482 33.4989091 33.7552734 0.104557576 33.7552734"></polygon>
                <polygon id="path-3" points="0.0593939394 0.178561151 11.7810182 0.178561151 11.7810182 17.2920086 0.0593939394 17.2920086"></polygon>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="eeco_etusivu17" transform="translate(-30.000000, -69.000000)">
                    <g id="eeco_logo_svg" transform="translate(30.000000, 69.000000)">
                        <path d="M17.4346667,26.8408964 C20.3997576,26.8408964 23.0899394,25.6655727 24.6836364,23.6859899 L30.9015758,27.3058892 C27.8438788,31.6062777 23.1500606,33.8764504 17.3061818,33.8764504 C7.11684848,33.8764504 0,26.9614863 0,17.0601482 C0,7.31682446 7.0089697,0.24482446 16.6654545,0.24482446 C25.7631515,0.24482446 32.6237576,7.47386043 32.6237576,17.0601482 C32.6237576,18.0772129 32.537697,19.0607669 32.345697,20.2223928 L10.8370909,20.2223928 L12.7633939,14.2860906 L24.9483636,14.2860906 L24.8766061,13.9592993 C23.9464242,9.73645036 20.8763636,7.21531367 16.6654545,7.21531367 C11.710303,7.21531367 7.50036364,10.8112417 7.50036364,17.0606374 C7.50036364,23.3095439 12.1345455,26.8408964 17.4346667,26.8408964" id="Fill-1" fill="#EC6608"></path>
                        <path d="M52.3267152,26.8408964 C55.2918061,26.8408964 57.9817455,25.6655727 59.5754424,23.6859899 L65.7933818,27.3058892 C62.7359273,31.6062777 58.0421091,33.8764504 52.1979879,33.8764504 C42.008897,33.8764504 34.8918061,26.9614863 34.8918061,17.0601482 C34.8918061,7.31682446 41.9007758,0.24482446 51.5572606,0.24482446 C60.6552,0.24482446 67.5158061,7.47386043 67.5158061,17.0601482 C67.5158061,18.0772129 67.4297455,19.0607669 67.237503,20.2223928 L45.728897,20.2223928 L47.6554424,14.2860906 L59.8401697,14.2860906 L59.7686545,13.9592993 C58.8382303,9.73645036 55.7684121,7.21531367 51.5572606,7.21531367 C46.6023515,7.21531367 42.3921697,10.8112417 42.3921697,17.0606374 C42.3921697,23.3095439 47.0263515,26.8408964 52.3267152,26.8408964" id="Fill-3" fill="#EC6608"></path>
                        <g id="Group-7" transform="translate(102.303030, 0.121079)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-6"></g>
                            <path d="M16.7848,26.500554 C11.6068606,26.500554 7.55110303,22.3009424 7.55110303,16.9392158 C7.55110303,11.578223 11.6068606,7.37836691 16.7848,7.37836691 C21.9814061,7.37836691 26.0521939,11.578223 26.0521939,16.9392158 C26.0521939,22.3009424 21.9814061,26.500554 16.7848,26.500554 M16.7709818,0.123647482 C7.42528485,0.123647482 0.104557576,7.50996403 0.104557576,16.9389712 C0.104557576,26.3689568 7.42528485,33.7552734 16.7709818,33.7552734 C26.1515879,33.7552734 33.4989818,26.3689568 33.4989818,16.9389712 C33.4989818,7.50996403 26.1515879,0.123647482 16.7709818,0.123647482" id="Fill-5" fill="#EC6608" mask="url(#mask-2)"></path>
                        </g>
                        <path d="M95.0040242,21.9029468 C93.8532364,23.7492201 92.1223273,25.2645439 90.4743273,26.1585727 C86.6127515,28.2501842 79.8180848,28.4634791 74.1126303,27.3757237 C80.0110545,23.751177 77.3007515,18.1595223 78.7506909,14.0242417 C79.4864485,11.9289612 81.8437818,8.1238964 87.0064485,7.9991482 C87.0064485,7.9991482 87.0098424,7.99547914 87.0134788,7.9991482 C87.4871758,7.98447194 87.9863273,8.00257266 88.507297,8.05785324 C91.2859636,8.35113381 93.6231758,9.94693237 95.0651152,12.1234216 L101.459782,8.22393957 C98.7465697,3.29540719 93.4042667,0.244946763 87.4500848,0.244946763 C77.9485091,0.244946763 70.7836606,7.47398273 70.7836606,17.0600259 C70.7836606,26.6472921 77.9485091,33.8763281 87.4500848,33.8763281 C93.3669333,33.8763281 98.7565091,30.800918 101.581236,25.8320259 C101.581236,25.8320259 95.0045091,21.9066158 95.0040242,21.9029468" id="Fill-8" fill="#EC6608"></path>
                        <path d="M94.1084364,16.7325741 C94.1084364,17.6028763 93.6817697,18.3080705 93.1557091,18.3080705 C92.6296485,18.3080705 92.2032242,17.6028763 92.2032242,16.7325741 C92.2032242,15.8622719 92.6296485,15.1568331 93.1557091,15.1568331 C93.6817697,15.1568331 94.1084364,15.8622719 94.1084364,16.7325741" id="Fill-10" fill="#EC6608"></path>
                        <path d="M90.5189576,16.7325741 C90.5189576,17.6028763 90.0922909,18.3080705 89.5662303,18.3080705 C89.0399273,18.3080705 88.6137455,17.6028763 88.6137455,16.7325741 C88.6137455,15.8622719 89.0399273,15.1568331 89.5662303,15.1568331 C90.0922909,15.1568331 90.5189576,15.8622719 90.5189576,16.7325741" id="Fill-12" fill="#EC6608"></path>
                        <g id="Group-16" transform="translate(76.848485, 9.171439)">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="Clip-15"></g>
                            <path d="M11.7810182,0.313778417 C5.0561697,0.961735252 3.8622303,5.51846906 3.90974545,9.52777842 C3.97229091,14.8046273 1.34853333,16.7651309 0.0590787879,17.2920086 C4.06562424,13.6204978 2.00598788,10.1593468 2.93568485,6.10698705 C3.44065455,3.90505899 6.08913939,-0.66414964 11.7810182,0.313778417" id="Fill-14" fill="#EC6608" mask="url(#mask-4)"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        {{ project.name }}
    </a>
</h1>
